@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Playfair Display;
  src: url("../assets/Playfair/PlayfairDisplay-SemiBold.ttf");
}

.display {
  font-family: Playfair Display;
  font-weight: 800;
}